body{
    background-image: url('img/blue.jfif');
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.subtitle_h1{
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

#notes{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 150px;
    margin-left: 480px;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lines{
    background-color: rgb(255, 255, 255);
    font-family: monospace;
    color: black;
}

.subtitle_h3{
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    padding-left: 40px;
    margin: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.subtitle{
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 6px;
    padding-left: 40px;
    margin: 40px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.text{
    background-color: rgba(95, 159, 255, 0.6);
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    border-radius: 30px;
}

#links{
    background-color: rgba(95, 159, 255, 0.6);
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    padding-bottom: 15px;
    border-radius: 30px;
}
.img{
    background-color: rgb(40, 47, 66);
    padding: 10px;
    border-radius: 20px;
    padding-left: 20px;
}
.enlace{
    color: white;
    align-items: center;
    margin: 20px;
}